
.search-icon{
position: absolute;
z-index:10;
right: 42%;
top: 30px;
color: #0000ff;

}
.form-control
{
  width: 500px;
z-index:10;
right: 30%;
top: 10px;
border-radius: 20px;
margin-left: 100px;
}

.nav-link{
  margin: 20px;
}


@media only screen and (max-width: 600px) {
.search-icon{
  position: absolute;
  z-index:10;
  right: 28%;
  top: 55px;
  /* bottom: 30px; */
  color: #0000ff;

  }
  .form-control
  {
    width: 300px;
  z-index:10;
  right: 30%;
  top: 10px;
  border-radius: 20px;
  margin-left: 20px;
  }

  .nav-link{
    margin: 20px;
  }
}

