/* You can add global styles to this file, and also import other style files */
/* @import 'swiper/swiper-bundle.css'; */

* {
  box-sizing: border-box;
 margin: 0;
  padding: 0;
  font-family: "baloo chettan 2";
}

body{
  background-color: #f0f0f0;;
}



